<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
     <!-- <link rel="stylesheet" href="/style.css"> -->

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>

</head>

<body>
    <div>
        <div   id="loginid" class="logincalss">

            <h4>login</h4>
            <div>
                <form  id="loginform">
                    <label for="d">
                        name

                    </label>

                    <input type="text" name="name" id="nameid">
                    <label for="d">
                        password

                    </label>

                    <input type="password" name="password" id="passwordid">

                    <button  type="submit">login</button>

                    <button  id="signupbutton"  type="button"> <a href="signup">signup </a></button>
                </form>
            </div>
        </div>
        <!-- <div id="signupid" class="signupclass">
         <h4>signup</h4>
         <div>
               <form id="formid">
                    <label for="d">
                        name

                    </label>

                    <input type="text" name="name" id="nameid">
                    <label for="d">
                        password

                    </label>

                    <input type="password" name="password" id="passwordid">

                    <button type="submit" id="signupsubmit" >signup</button>

                    <button id="loginbuttons" type="button">login</button>
                </form>
         </div>
        </div> -->

               <div id="homepageid" class="homeclass active">
                   <h4>homepage</h4>

                   <nav>
                       <button type="submit" id="loginbutton">login</button>
                   </nav>
                     <p id="demo"></p>
               </div>
    </div>

    <p id="demo">ccc</p>

   <button id="logout">logout</button>



</body>

</html>
