<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div   id="loginid" class="logincalss">

        <h4>login</h4>
        <div>
            <form  id="loginform">
                <label for="d">
                    name

                </label>

                <input type="text" name="name" id="nameid">
                <label for="d">
                    password

                </label>

                <input type="password" name="password" id="passwordid">

                <button  type="submit">login</button>

                <button  id="signupbutton"  type="button"> <a href="signup">signup </a></button>
            </form>
        </div>

</body>
</html>